.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.logIn {
  background: rgba(26, 27, 20, 1);
  width: 1200px;
  height: 685px;
  display: block;
}
.container {
  background: rgba(26, 27, 20, 1);
  width: 1200px;
  height: 685px;
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  flex-direction: row;
  column-gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 32px;
}
.image {
  background:
    linear-gradient(
      rgba(14, 14, 14, 0.6000000238418579),
      rgba(14, 14, 14, 0.6000000238418579)
    ),
    url("/plasmic/website_starter/images/image.jpg") center center / cover no-repeat;
  width: 636px;
  height: 642px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.content {
  width: 470px;
  height: 642px;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  row-gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  padding: 32px 20px;
}
.title {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.text__kgL5E {
  display: block;
  font-size: 32px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 100%;
  color: rgba(198, 166, 100, 1);
  align-self: stretch;
  position: relative;
}
.text__jk2K8 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 100%;
  color: rgba(250, 250, 250, 1);
  align-self: stretch;
  position: relative;
}
.form {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
}
.input {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 33px;
  align-items: flex-start;
  justify-content: flex-start;
}
.container2 {
  height: 58px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.primitiveLabel {
  height: 14px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
}
.text__ooR9R {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 14px;
  color: rgba(250, 250, 250, 1);
  position: relative;
}
.input2 {
  box-shadow: inset 0px 0px 0px 0.800000011920929px rgba(198, 166, 100, 1);
  height: 36px;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  padding: 4px 12px;
}
.text__tq41T {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 100%;
  color: rgba(113, 113, 130, 1);
  position: relative;
}
.container3 {
  height: 58px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.primitiveLabel2 {
  height: 14px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
}
.text__gmoSo {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 14px;
  color: rgba(250, 250, 250, 1);
  position: relative;
  width: 108px;
  flex-shrink: 0;
}
.input3 {
  box-shadow: inset 0px 0px 0px 0.800000011920929px rgba(198, 166, 100, 1);
  height: 36px;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  padding: 4px 12px;
}
.text__p118J {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 100%;
  color: rgba(113, 113, 130, 1);
  position: relative;
}
.forgotPassword {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  justify-content: flex-end;
}
.link___7Jmdv {
  display: block;
  font-size: 14px;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 100%;
  color: rgba(113, 113, 130, 1);
  position: relative;
}
.button {
  background: rgba(198, 166, 100, 1);
  box-shadow: inset 0px 0px 0px 1px #c6a664;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
}
.text___1Vxz {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 20px;
  color: rgba(43, 43, 43, 1);
  position: relative;
}
.secondaryAction {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  justify-content: flex-start;
}
.text___7N7Tk {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 100%;
  position: relative;
  white-space: pre;
}
.link___9Vlpa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-IFDRLVnOGObf);
  min-width: 0;
}
